<script lang="ts">
  import { onDestroy } from "svelte";
  import DataRow from "./DataRow.svelte";
  import exif from "exif-parser";

  let images: {
    file: File;
    url?: string;
    exif?: any;
  }[] = [];

  const numberFormat = new Intl.NumberFormat("en-US");
  const formatBytes = numberFormat.format;

  const handleUpload = async (e) => {
    const incomingFiles = e.target.files as FileList;

    const newImages = await Promise.all(
      Array.from(incomingFiles).map((file) => {
        const objectUrl = window.URL.createObjectURL(file);

        return file.arrayBuffer().then((ab) => {
          let exifData;
          try {
            const parser = exif.create(ab);

            const result = parser.parse();
            exifData = Object.entries(result.tags);
          } catch {
            // parsing failed
          } finally {
            return { exif: exifData, url: objectUrl, file };
          }
        });
      })
    );

    images = [...newImages, ...images];
  };

  onDestroy(() => {
    for (let file of images) {
      window.URL.revokeObjectURL(file.url);
    }
  });
</script>

<div>
  <header class="page-header">
    <div class="container">
      <label>
        Drop files to show their
        <abbr title="Exchangeable image file format">EXIF</abbr> data
        <input type="file" on:change={handleUpload} multiple />
      </label>
    </div>
  </header>
  <main>
    <!-- <div class="container"> -->
    {#each images as file}
      <div class="image">
        <div class="image__content">
          <div>
            <a href={file.url} target="_blank" rel="noreferrer">
              <img src={file.url} alt="" />
            </a>
            <div>{file.file.name}</div>
            <div>{formatBytes(file.file.size)} bytes</div>
          </div>
          <div>
            {#if file.exif}
              <table>
                <tbody>
                  {#each file.exif as row}
                    <DataRow tagName={row[0]} tagValue={row[1]} />
                  {/each}
                </tbody>
              </table>
            {/if}
          </div>
        </div>
      </div>
    {/each}
    <!-- </div> -->
  </main>
</div>

<style>
  .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
  }
  main {
    margin: 2rem 0;
  }

  input[type="file"] {
    padding: 1rem;
    margin: 0.5rem;
  }
  .image {
    padding: 1rem 0;
    font-size: 14px;
  }

  .image img {
    max-width: 100%;
    flex-basis: 50%;
  }

  .image:nth-child(2n) {
    background-color: #f2f2f2;
  }
  .image__content {
    display: flex;
    gap: 1rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: space-between;
  }

  .page-header {
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
</style>
