<script lang="ts">
  export let tagName = "";
  export let tagValue = "";

  let value: any = tagValue;

  if (tagName.endsWith("Date") || tagName === "DateTimeOriginal") {
    value = new Date(value * 1000).toLocaleString();
  } else if (tagName === "ExposureTime") {
    value = value < 1 ? `1/${1 / value}` : value;
  }
</script>

<tr>
  <td>{tagName}</td>
  <td>{value}</td>
</tr>

<style>
</style>
